<section id="info-section">
  <div class="custom-container">
    <div class="info-item">
      <img src="https://iili.io/JqoKwKu.png" alt="">
      <p>Elegí los productos que
<br>vas a comprar</p>
    </div>
    <div class="info-item">
      <img src="https://iili.io/JqoKhPe.png" alt="">
      <p>Pagá con el medio de
<br> pago que quieras</p>
    </div>
    <div class="info-item">
      <img src="https://iili.io/JqoKXV9.png" alt="">
      <p>Recibí el producto
<br>que esperás</p>
    </div>
  </div>
</section>
<section id="marcas-section">
  <div class="buscar_marca">
    <img src="https://iili.io/JqoKWo7.png" alt="">
      <h2 class="section-category__title font-primary-text" id="busca-por-marca-custom" >BUSCÁ POR MARCA</h2>
    <img class="imagen_invisible" src="https://iili.io/JqoKWo7.png" alt="">
  </div>
  <div class="marcas-section-container">
    <div class="marcas-section-button">
      <img id="marcas-section-button-izq" src="https://iili.io/JqoO1Du.png" alt="flecha-izq">
    </div>
    <div class="marcas-section-carrusel">
      <div class="marcas-section-carrusel-container">
         <div class="marcas-section-marcas">
          <img src="https://iili.io/Jqza8Pe.png" alt="">
        </div>
        <div class="marcas-section-marcas">
          <img src="https://iili.io/JFtq0sp.png" alt="">
        </div>
         <div class="marcas-section-marcas">
          <img src="https://iili.io/JKJKA92.png" alt="">
        </div>
        <div class="marcas-section-marcas">
          <img src="https://iili.io/JqzaUKu.png" alt="">
        </div>
        <div class="marcas-section-marcas">
          <img src="https://iili.io/JKJBtUJ.png" alt="">
        </div>
        {{!-- <div class="marcas-section-marcas">
          <img class="logo_ringo" src="https://d161wnnmtvsq6z.cloudfront.net/assets/logo-ringo-header-72fd9f33359ff7d957ca9a797327d61eee6423e8d3e618d8b2562bc0a592be8f.png" alt="">
        </div> --}}
        <div class="marcas-section-marcas">
          <img src="https://iili.io/JqzavV9.png" alt="">
        </div>
        <div class="marcas-section-marcas">
          <img src="https://iili.io/JqC554p.png" alt="">
        </div>
        <div class="marcas-section-marcas">
          <img src="https://iili.io/Jqzcqfn.png" alt="">
        </div>
          <div class="marcas-section-marcas">
          <img src="https://iili.io/JqzT6Qa.png" alt="">
        </div>
          <div class="marcas-section-marcas">
          <img src="https://iili.io/JqzcKiX.png" alt="">
        </div>
         <div class="marcas-section-marcas">
          <img src="https://iili.io/Jqza8Pe.png" alt="">
        </div>
        </div>
    </div>
      <div class="marcas-section-button flecha-derecha">
        <img id="marcas-section-button-der" src="https://iili.io/JqoO1Du.png" alt="flecha-der">
      </div>
  
</section>
<div id="footer-container">
{{#if subscriptionFooter.active}}
  {{> fashion/views/partials/suscription}}
{{/if}}
  <footer class="nav-tools-footer footer-img">
    <div class="footer_superior">
      <div class="footer_logo">
          {{!-- {{#if logo}} --}}
          <a class="nav-fashion-header__logo" href="/" id="logo-wrapper">
            <span class="nav-header__title-hidden">{{name}}</span>
            <img class="nav-header__image-footers" src="https://iili.io/JFDqbSt.png" alt="{{name}}" itemprop="logo" />
          </a>
          {{!-- {{else}}
          <h3 class="nav-footer-contact-title header--custom-text">
            <a href="/">{{name}}</a>
          </h3>
          {{/if}} --}}
      </div>
      <div class="footer_categorias">
        <p>Categorías</p>
        <a href="/calzado">Calzado</a>
        <a href="/indumentaria">Indumentaria</a>
        <a href="/accesorios">Accesorios</a>
        <a href="/vizzano">New</a>
      </div>
      <div class="footer_contacto">
        <p>Contacto</p>
        <a href="tel:3413125611">(341) 3125611</a>
        <a href="mailto:info@pindal.com.ar">info@pindal.com.ar</a>
        <a target="_blank" href="https://maps.app.goo.gl/71HDqLteumMP4Cuj6">Dos de Abril 415, Capitan Bermudez,<br>Santa Fe</a>
      </div>
      <div class="footer_redes">
        <p>Seguinos</p>
        <div class="footer_redes_icons">
          <a target="_blank" href="https://www.facebook.com/profile.php?id=100067826538733"><img src="https://cdn-icons-png.flaticon.com/512/2175/2175193.png" alt="facebook_logo.png"></a>
          <a target="_blank" href="https://www.instagram.com/pindalstore"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png" alt="instagram_logo.png"></a>
        </div>
      </div>
    </div>
    <hr class="footer_divisor">
    <div class="footer_inferior">
      <a href="/p/avisos-legales">Avisos Legales</a>
      <a href="/p/privacidad">¿Cómo cuidamos tu privacidad?</a>
      <a href="https://galarreta.co/">Developed by Galarreta</a>
    </div>
  </footer>
</div>
